/*Esta é minha folha de estilo CSS*/
body{
	font-family:Tahoma;
}
h1{
	font-size: 30pt;
	color: #7d370d;
	background-color: #34261d;
	text-align: center;
	padding: 30px;
	margin: 30px;
}

.destaque{
	font-size: 20px;
}
.pequeno{
	font-size: 10px;
}